In [1]:
#Import dependencies and files
import pandas as pd

In [2]:
#creating my csv path
csv_path = 'HeroesOfPymoli/Resources/purchase_data.csv'
game_purchase_df = pd.read_csv(csv_path)

In [3]:
#Start data breakdown
#number of players by counting SN because players can make repeated purchases so I need the unique SN count
player_count = game_purchase_df['SN'].value_counts()
player_count.count()

576

In [4]:
player_count_df = pd.DataFrame({
    'Total number of players': ['576']
})
player_count_df

  Total number of players
0                     576

In [5]:
#purchase analytics data 
#number of unique items, I need to count the number of items which occur once in the Item name column
unique_items = game_purchase_df['Item Name'].value_counts()
unique_items.count()

179

In [6]:
#The total amount spent on items in this game is the sum of ['Price']
game_purchase_df['Price'].sum()

2379.77

In [7]:
#Average price of the items. I can just use the mean function on the column
game_purchase_df['Price'].mean()

3.0509871794871795

In [8]:
#For the total number of purchases I can just use a value count on the Purchase ID column
total_purchases = game_purchase_df['Purchase ID'].value_counts()
total_purchases.count()

780

In [9]:
#Now I will display all my data in one data frame.
purchasing_df = pd.DataFrame({
    'Number of Unique Items': ['179'],
    'Average Price': ['$3.05'],
    'Number of Purchases': ['780'],
    'Total Revenue': ['$2,379.77']
    
})
purchasing_df

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179         $3.05                 780     $2,379.77

In [10]:
#Gender Analysis 
#I will start by collecting the total amount of male vs female vs other players

In [11]:
#First I will drop the repeating values for players that made multiple purchases [SN], Then I will check to ensure that number is 576 (total players)
data_cleaning_df = game_purchase_df.drop_duplicates(['SN'])

In [12]:
data_cleaning_df.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [13]:
gender_count = data_cleaning_df['Gender'].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
#Finding the gender percentage. I will just used a value count and the that will break down each occurance in a decimal form. This number *100 is the percent
gender_percentage = data_cleaning_df['Gender'].value_counts('Male')
gender_percentage

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [15]:
#Now I need to put all the data in a table
gender_analytics_df = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Other / Non-disclosed'],
    'Total Count': ['484', '81', '11'],
    'Gender Percentage': ['84.027%', '14.063%', '1.909%']
})
gender_analytics_df

                  Gender Total Count Gender Percentage
0                   Male         484           84.027%
1                 Female          81           14.063%
2  Other / Non-disclosed          11            1.909%

In [16]:
#Purchasing Analysis
#Similar to the previous analysis, however now I don't need to drop the repeating players
gender_count2 = game_purchase_df['Gender'].value_counts()
#checking the count
gender_count2

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [17]:
#By grouping the data by gender I can pull the price information I want using sum
gender_grouped_df = game_purchase_df.groupby(['Gender'])
#checking my amount
gender_grouped_df['Price'].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
#using the grouped data I can find the average purchase price using mean
avg_gender_spending = gender_grouped_df['Price'].mean()
#checking my averages
avg_gender_spending

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [19]:
#The per person distinction means that it's not based off of the total data, it's the data without repeats. nunique will return a series with distinct points.
#The average will be the total (sum) divided by the amount of players. 
avg_total = gender_grouped_df['Price'].sum()/gender_grouped_df['SN'].nunique()
avg_total

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [20]:
#Create Chart
Purchasing_Analysis_df= pd.DataFrame({
    'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],
    'Purchase Count': ['652', '113', '15'],
    'Average Purchase Price': ['$3.02', '$3.20', '3.35'],
    'Total Purchase Value': ['$1,967.64', '$361.94', '$50.19'],
    'Avg Total Purchase': ['$4.07', '$4.47', '$4.56']
})
Purchasing_Analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,3.35,$50.19,$4.56

In [21]:
#Age demographics. I need to create bins and then use grouped data to poulate the bins
bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
bin_label = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '+40']
age_data = pd.cut(game_purchase_df['Age'],
                  bins,
                  labels=bin_label
                 )
age_data
age_grouped = game_purchase_df.groupby(['Age'])

In [22]:
#For reading and pulling calculations
total_age2 = age_grouped['SN'].nunique()

In [23]:
percent_age = total_age2
#percent_age = (total_age2/576)*100
age_b10 = percent_age.iloc[0:2]

In [24]:
#Each iloc location referances an age group
age_10to14 = percent_age.iloc[3:8]

In [25]:
age_15to19 = percent_age.iloc[8:13]
age_15to19.sum()

107

In [26]:
age_20to24 = percent_age.iloc[13:18]
age_20to24.sum()

258

In [27]:
age_25to29 = percent_age.iloc[18:23]
age_25to29.sum()

77

In [28]:
age_30to34 = percent_age.iloc[23:28]
age_30to34.sum()

52

In [29]:
age35to39 = percent_age.iloc[28:33]
age35to39.sum()

31

In [30]:
age_o40 = percent_age.iloc[33:]
age_o40.sum()

12

In [31]:
age_demo = pd.DataFrame ({
    'Age group': ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '+40'],
    'Percentage of Players': ['2.95%', '3.82%', '18.58%', '44.79%', '13.37%', '9.03%', '5.38%', '2.08%'],
    'Total Count': ['17,', '22', '107', '258', '77', '52', '31', '12']
})
age_demo

  Age group Percentage of Players Total Count
0       <10                 2.95%         17,
1     10-14                 3.82%          22
2     15-19                18.58%         107
3     20-24                44.79%         258
4     25-29                13.37%          77
5     30-34                 9.03%          52
6     35-39                 5.38%          31
7       +40                 2.08%          12

In [32]:
#Similar to the above iloc each location references the amount within the age group restrictions
purchase_age = age_grouped['Purchase ID'].count()
avg_purchase = age_grouped['Price'].mean()

age_b10p = avg_purchase.iloc[0:3]
age_b10final = (age_b10p.sum())/3

age_10to14p = avg_purchase.iloc[3:8]
age_10to14final = (age_10to14p.sum())/5

age_15to19p = avg_purchase.iloc[8:13]
age_15to19final = (age_15to19p.sum())/5

age_20to24p = avg_purchase.iloc[13:18]
age_20to24final = (age_20to24p.sum())/5

age_25to29p = avg_purchase.iloc[18:23]
age_25to29final = (age_25to29p.sum())/5

age_30to34p = avg_purchase.iloc[23:28]
age_30to34final = (age_30to34p.sum())/5

age35to39p = avg_purchase.iloc[28:33]
age35to39final = (age35to39p.sum())/5

age_o40p = avg_purchase.iloc[33:]
age_o40final = (age_o40p.sum())/4

In [33]:
#Top Spender
spender = game_purchase_df.groupby('SN')

In [34]:
spender_count = spender['Purchase ID'].count()
avg_spender_purchase = spender['Price'].mean()
purchase_total = spender['Price'].sum()
avg_per = (purchase_total/spender_count)
SpendersDF = pd.DataFrame({
    'Purchase Count': [spender_count],
    'Average Purchase Price': [avg_per],
    'Total Purchase Value': [purchase_total]
})

In [35]:
#Popular Items
pop_items = game_purchase_df.groupby(['Item ID', 'Item Name'])

In [36]:
#This will give the count of items purchased and the item which was purchased the most
item_count = pop_items['Purchase ID'].count()
item_count.max()

13

In [37]:
#This calculates the total amount of the items 
total_purchase = pop_items['Price'].sum()

In [38]:
max_item = pop_items['Price'].max()

In [39]:
#This is going to be the formatted dataframe which will hold the information
item_df = pd.DataFrame({
    'Purchase Count': item_count,
    'Item Price': max_item,
    'Total Purchase Value': total_purchase
})
maxitems_df = items.sort_values('Purchase Count', ascending = False)
maxitems_df['Item Price'] = maxitems_df['Item Price'].map('${:.2f}'.format)
maxitems_df['Total Purchase Value'] = maxitems_df['Total Purchase Value'].map('${:.2f}'.format)
maxitems_df

NameError: name 'items' is not defined